@model TaxonomyPrj2.ViewModels.IndexCategoriesViewModel;

@{
    Layout = null;
}
@functions
{

    public void MakeTreeInViev(DAL.Models.Category top,int level)
    {

        level++;
        if (level > 7) { level = 0; }

        if (top.InverseParentNavigation.Count != 0)
        {
            Model.InView += "<li>" + " <span class=\"drop h1\" onclick=\"clickUL(this)\">-</span>";
        }
        else
        {
            Model.InView += "<li>";
        }
        Model.InView += "<span class=\"h2\">" + top.NameCat + " " + top.Name + "&nbsp;&nbsp;&nbsp;</span>";
        Model.InView += "<button type = \"button\" data-id=\"" + top.Id + "\" class=\"redactCategory btn btn-outline-warning  ProtectionAgainstRoleChanges\">Редактировать</button>";
        Model.InView += "<button type = \"button\" data-id=\"" + top.Id + "\" class=\"deleteCategory btn btn-outline-danger  ProtectionAgainstRoleChanges\">Удалить</button>";
        Model.InView += "<div> " + top.Description + "</div>";

        if (top.InverseParentNavigation.Count != 0)
        {


            // Model.InView += top.NameCat + " " + top.Name + " " + top.Description;

            Model.InView += "<ul class=\"level_" + level + "\">";

            foreach (var item in top.InverseParentNavigation)
            {
                MakeTreeInViev(item, level);
            }
            Model.InView += "</ul>";

        }

        Model.InView += "</li>";

    }

}


@{
    int level = 0;
    MakeTreeInViev(Model.CategoryTree.FirstOrDefault(),level);
    Model.InView = "<ul class=\"level_"+ level+ "\"> " + Model.InView + "</ul>";
}

<div id="tree" class="h5" data-id="@Model.InView">@Html.Raw(Model.InView)</div>



<h1>Старый вариант</h1>

<div class="row">
    <div class="" id="">
        <!-- ******** -->
        <table class="">
            <thead>

            </thead>
            <tbody>
                @foreach (var category in Model.CategoryTree)
                {
                    <tr data-id="@category.Id" class="choiseCategory  @("level_"+category.level) ">



                        <td class=" ">
                            <pre class="@("level_"+category.level) "> @(category.indent + category.NameCat + " " + category.Name)</pre>


                        </td>

                        <td class="">@category.Description</td>

                        <td class="">
                            <div class="btn-group">
                                <button type="button" data-id="@category.Id" class="redactCategory btn btn-outline-warning  ProtectionAgainstRoleChanges">Р</button>
                                <button type="button" data-id="@category.Id" class="deleteCategory btn btn-outline-danger  ProtectionAgainstRoleChanges">У</button>
                            </div>




                        </td>







                    </tr>
                }
            </tbody>
        </table>

    </div>


</div>
