@model TaxonomyPrj2.ViewModels.PartialDescriptionViewModel

<h1>Информация:</h1>

<div class="mb-6">
    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID категории:</span>
        </div>
        <input type="text" name="id" readonly class="form-control" value="@Model.Id" aria-label="1" aria-describedby="basic-addon1 ">
    </div>

    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ID родителя:</span>
        </div>
        <input type="text" name="id" readonly class="form-control" value="@Model.Parent" aria-label="1" aria-describedby="basic-addon1 ">
    </div>

    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Название категории:</span>
        </div>
        <input type="text" name="id" readonly class="form-control" value="@Model.NameCat" aria-label="1" aria-describedby="basic-addon1 ">
    </div>

    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Имя категории:</span>
        </div>
        <input type="text" name="id" readonly class="form-control" value="@Model.Name" aria-label="1" aria-describedby="basic-addon1 ">
    </div>

    <div class="input-group ">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Описание категории:</span>
        </div>
        <input type="text" name="id" readonly class="form-control" value=">> >> >>" aria-label="1" aria-describedby="basic-addon1 ">
    </div>

    <textarea class="form-control" readonly id="newDescription2" name="Description2" rows="12" aria-label="empty">@Model.Description </textarea>

    <button type="button" id="exitPartialButtonCategory" data-id="123" class="ProtectionAgainstRoleChanges btn btn-outline-danger btn-lg btn-block">Закрыть</button>
</div>