@model TaxonomyPrj2.ViewModels.PartialDescriptionViewModel

<table>
    <tr class="level_0">
        <td>ID: </td>
        <td>@Model.Id</td>
    </tr>
    <tr class="level_1">
        <td>Parent: </td>
        <td>@Model.Parent</td>
    </tr>
    <tr class="level_2">
        <td>NameCat: </td>
        <td>@Model.NameCat</td>
    </tr>
    <tr class="level_3">
        <td>Name: </td>
        <td>@Model.Name</td>
    </tr>
    <tr class="level_4">
        <td>Описание: </td>
        <td>@Model.Description</td>
    </tr>

</table>
