@using DAL.Models
@model TaxonomyPrj2.ViewModels.IndexCategoriesViewModel;


@{
    Layout = null;
}
<br><br>
@functions
{
      
    private bool CanDelete(DAL.Models.Category element)
    {
        if (element.InverseParentNavigation.Count != 0 || element.Organisms.Count != 0)
        {
            return false;
        }

        return true;
    }
}

@{
    void TreeInViev(Category top, int level)
    {
        level++;
        if (level > 5) { level = 1; }

        <!--откры первый li-->
        <li>
            <!--выбираем кнопку перед категорией.-->
            @if (top.InverseParentNavigation.Count != 0)  // выбираем кнопку перед категорией.
            {
                <button class="btn btn-outline-primary h1" onclick="clickUL(this)">-</button><span>&nbsp;</span>
            }
            else
            {
                <button class="btn btn-secondary h1">...</button><span>&nbsp;&nbsp;</span>
            }
            <!--ставим название-->
            <span class="h2"> @(top.NameCat + " " + top.Name)</span>        <span>&nbsp;&nbsp;</span>
            <!--редактирование-->
            <button type="button" data-id="@top.Id" class="redactCategory btn btn-warning ">Р</button>
            <button type="button" data-id="@top.Id" class="btn  @(CanDelete(top)?"deleteCategory btn-danger": "btn-secondary")">У</button>

            <!--блок описания-->
            <span> 

                <button type="button" data-id="@top.Id" class="btn btn-success " onclick="clickDescr(this)">О</button>
                <br>
                <span class="hideChild "> @top.Description</span>
            </span>

            <!--проверка на необходимость вложенного-->
            @if (top.InverseParentNavigation.Count != 0)
            {
                foreach (var item in top.InverseParentNavigation)
                {<ul class="gray_@level">
                        @{
                            TreeInViev(item, level);
                        }
                    </ul>
                }
            }
        </li>

    }
}


<ul class="gray_ h5">
    @{
        int levGray = 0;
        TreeInViev(Model.CategoryTree.FirstOrDefault(), levGray);

    }
</ul>


<br><br><br>







