@model TaxonomyPrj2.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Таксономия";

    // ctr + d = копия строкикопия строкикопия строкикопия строкикопия строки
}

@if (User.IsInRole("Admin"))
{
    <!--пропись на странице роли доступа-->
    <input hidden type="text" value="Admin" id="constRole" />

    <a href="/Category/index" class="btn btn-outline-primary btn-lg btn-block " role="button" aria-pressed="true">Работа с категориями</a>
    <button type="button" class="createOrganism btn btn-outline-success btn-lg btn-block ">Добавить организм в котегорию</button>
}
else
{
    <!--пропись на странице роли доступа-->
    <input hidden type="text" value="CommonUser" id="constRole" />
}






<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="ModalView">
                <p>ТУТ СОДЕРЖИМОЕ М/О</p>
            </div>

        </div>
    </div>
</div>



<button type="button" id="startButtonSeach" class="btn btn-outline-info btn-lg btn-block ">Сделать выборку организмов</button>

<!--Фильтр по всем организмам-->
<form id="startSearch">
    <!--сюда загружается PartialSearchStart-->
</form>

<div class="container" id="searchResult1">
    <!--сюда загружается PartialResult-->
</div>

<div class="container">

    <div class="row">

        <!--список категорий слева-->
        <div class="col-xl">
            <table id="tableCategories" class="table-bordered ">
                <tr>
                   
                    <th>ID родителя</th>
                    <th>Приставочное имя</th>
                    <th>Имя</th>
                    <th ><button type="button" class="btn btn-success " data-type="Category" onclick="clickDescr(this)">Описание</button> </th>

                </tr>
                @foreach (var category in Model.Categories)
                {
                    <tr class="@(category.Id == Model.CurrenCategoryId ? "choiseMarker" : "" ) choiseCategory" data-id="@(category.Id)">
                       
                        <td>@category.Parent</td>
                        <td>@category.NameCat</td>
                        <td>@category.Name</td>
                        <td class="descriptionCategory">@category.Description</td>

                    </tr>

                }
            </table>
        </div>


        <!--Таблица организмов слева-->
        <div class="col-xl-5">

            <!--фильтр в пределах категории-->
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Имя организма:</span>
                <input type="text" id="SearchNameOrganismSmall" class="form-control SearchNameOrganism" value="" placeholder="" aria-label="empty" aria-describedby="basic-addon1 ">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Количесто образцов от</span>
                </div>
                <input type="text" id="SearchCountFromOrganismSmall" class="form-control SearchCountFromtOrganism" value="" placeholder="" aria-label="empty" aria-describedby="basic-addon1 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">до</span>
                </div>
                <input type="text" id="SearchCountToOrganismSmall" class="form-control SearchCountTotOrganism" value="" placeholder="" aria-label="empty" aria-describedby="basic-addon1 ">

            </div>

            <span class="input-group-text" id="basic-addon1">Дата начала исследований:</span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">От</span>
                </div>
                <input type="date" class="form-control SearchDateFromOrganism" id="SearchDateFromOrganismSmall" value="" placeholder="">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">до</span>
                </div>
                <input type="date" class="form-control SearchDateToOrganism" id="SearchDateToOrganismSmall" value="" placeholder="">
            </div>


            <button type="button" id="startSeachCategorySmall" class=" btn btn-outline-success btn-lg btn-block ">Применить фильтр</button>

            <!--/конец фильтра в пределах категории-->

            <div id="tableOrganisms">
               
                <!--сюда загружается таблица организмов-->
               
            </div>

        </div>

    </div>



</div>




@section Scripts
{
    <script src="~/js/index.js" asp-append-version="true"></script>
  }
