<!-- Отображение списка организмов на index по категории -->

@model TaxonomyPrj2.ViewModels.OrganismTableViewModel


<h1>@Model.CurrenCategoryFullName</h1>

@if (Model.Organisms.Count != 0)
{

    <table class="table">
        <thead>
            <tr>

                <th>Начало исследований</th>
                <th>Количество образцов</th>
                <th>Имя</th>
                <th><button type="button" class="btn btn-outline-success " id="OrganismBut" onclick="clickDescrOrganism(this)">Описание</button></th>
            </tr>
        </thead>
        @foreach (var organism in Model.Organisms)
        {

            <tr class="info">


                <td>@(organism.StartResearch.Day + "." + organism.StartResearch.Month + "." + organism.StartResearch.Year)</td>
                <td>@organism.CountSample</td>
                <td>@organism.Name</td>
                <td class="descriptionOrganism hideChild">@organism.Description</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button type="button" data-id="@organism.Id" class="redactOrganism btn btn-outline-warning btn-lg btn-block ">Редактировать</button>
                        <button type="button" data-id="@organism.Id" class="deleteOrganism btn btn-outline-danger btn-lg btn-block ">Удалить</button>
                    </td>
                }


            </tr>


        }
    </table>

}
